@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;

@layer base {
  body {
  font-family: 'Poppins', sans-serif;
  }
    }
  
    @layer components {
  
      .input_container {
        @apply flex flex-col space-y-2 w-full
      }
      .label_style {
        @apply text-gray-500 capitalize
      }
    }
  
      .input_style {
        @apply py-3 md:py-4 rounded-xl border-none ring-1 ring-gray-300 focus:ring-2 focus:ring-primary hover:ring-1 hover:ring-primary placeholder:text-gray-300 placeholder:text-sm placeholder:capitalize shadow shadow-gray-100  transition-all duration-200 ease-in w-full focus:outline-none
    
    }

@tailwind utilities;